<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>copyrightYear</param-name>
        <param-value>2021</param-value>
    </context-param>
    <context-param>
        <param-name>company</param-name>
        <param-value>Papaya Corp.</param-value>
    </context-param>
    <context-param>
        <param-name>companyEmail</param-name>
        <param-value>papayacorp@gmail.com</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.libraweb.controller.LoginServlet</servlet-class>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>databaseUsername</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>databasePassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>databaseDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>dbName</param-name>
            <param-value>UserDB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.libraweb.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            com.libraweb.utils.listeners.UserContextListener
        </listener-class>
    </listener>
    <session-config>
        <session-timeout>
            2
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>com.libraweb.utils.exceptions.AuthException</exception-type>
        <location>/authenticationException.jsp</location>
    </error-page>
    <error-page>
        <exception-type>com.libraweb.utils.exceptions.NullValueException</exception-type>
        <location>/nullValueException.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_4.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_5.jsp</location>
    </error-page>
</web-app>
